<!DOCTYPE html>
<html>
<head>
  <title>DavisSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,200,600' rel='stylesheet' type='text/css'>
</head>
<body>
<% if notice %>
		<p class="notice alert-warning"><%= notice %></p>

     <% end %>
    <% if alert %>
		<p class="alert alert-success"><%= alert %></p>
	<% end %>

<%= yield %>

</body>
</html>
